input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
 #login-button {
    background-color: #0074e1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  .login{
    width: 40%;
    height: 30%;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 30%;
  }
  a {
    color: darkblue;
  }